mat-card {
    margin: 1rem;
}

.score-board {
    width: 300px;
    position: fixed;
}

.canvas-wrapper {
    margin: 1rem auto;
    width: 500px;
    /*height: 500px;*/
}

.game-wrapper {
    margin: auto;
    padding-top: 10rem;
    max-width: 1280px;
}

canvas {
    margin: auto;
    display: block;
}

h1 {
    position: center;
    text-align: center;
}
