<mat-card class="score-board">
    <table>
        <tr>
            <td>Turn:</td>
            <td>{{turn}}</td>
        </tr>
        <tr>
            <td>Move type:</td>
            <td>{{moveType}}</td>
        </tr>
        <tr>
            <td>Available reds:</td>
            <td>{{availableReds}}</td>
        </tr>
        <tr>
            <td>Available greens:</td>
            <td>{{availableGreens}}</td>
        </tr>
        <tr>
            <td>Used reds:</td>
            <td>{{usedReds}}</td>
        </tr>
        <tr>
            <td>Used greens:</td>
            <td>{{usedGreens}}</td>
        </tr>
    </table>
</mat-card>
<h1>{{turn}} : {{moveType}}</h1>
<div class="game-wrapper">
    <mat-grid-list cols="5" rowHeight="550px">
        <mat-grid-tile>
            <mat-card class="canvas-wrapper">
                <canvas id="red-drawer" width="200" height="300"></canvas>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3">
            <mat-card class="canvas-wrapper" id="canvas-wrapper">
                <canvas id="canvas" width="500" height="500">></canvas>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="canvas-wrapper">
                <canvas id="green-drawer" width="200" height="300"></canvas>
            </mat-card>
        </mat-grid-tile>
        <!--<mat-grid-tile>3</mat-grid-tile>-->
        <!--<mat-grid-tile>4</mat-grid-tile>-->
    </mat-grid-list>

</div>
