<div *ngIf="gameStates[currentIndex]">
    <mat-toolbar color="primary">
        <div class="game-wrapper">
            <button mat-icon-button class="float-left" (click)="reset()">
                <mat-icon>replay</mat-icon>
            </button>
            <button mat-icon-button class="float-right" (click)="openInfoDialog()">
                <mat-icon>help</mat-icon>
            </button>
            <button mat-icon-button [disabled]="currentIndex==0"
                    (click)="undo()">
                <mat-icon>undo</mat-icon>
            </button>
            <button mat-button [matMenuTriggerFor]="menu">Settings</button>
            <mat-menu #menu="matMenu">
                <table (click)="$event.stopPropagation()">
                    <tr>
                        <th>Red player</th>
                        <td>
                            <mat-button-toggle-group [value]="redPlayerType" (change)="changePlayerType('RED')">
                                <mat-button-toggle value="HUMAN">
                                    HUMAN
                                </mat-button-toggle>
                                <mat-button-toggle value="COMPUTER">
                                    AI
                                </mat-button-toggle>
                            </mat-button-toggle-group>
                        </td>
                    </tr>
                    <tr>
                        <th>Green player</th>
                        <td>
                            <mat-button-toggle-group [value]="greenPlayerType" (change)="changePlayerType('GREEN')">
                                <mat-button-toggle value="HUMAN">
                                    HUMAN
                                </mat-button-toggle>
                                <mat-button-toggle value="COMPUTER">
                                    AI
                                </mat-button-toggle>
                            </mat-button-toggle-group>
                        </td>
                    </tr>
                    <tr>
                        <th>Red AI algorithm</th>
                        <td>
                            <mat-button-toggle-group [value]="redAiAlgorithm"
                                                     (change)="redAiAlgorithm=='MINI-MAX'?redAiAlgorithm='ALPHA-BETA':redAiAlgorithm='MINI-MAX'">
                                <mat-button-toggle value="MINI-MAX">
                                    MINI-MAX
                                </mat-button-toggle>
                                <mat-button-toggle value="ALPHA-BETA">
                                    &alpha;-&beta;
                                </mat-button-toggle>
                            </mat-button-toggle-group>
                        </td>
                    </tr>
                    <tr>
                        <th>Green AI algorithm</th>
                        <td>
                            <mat-button-toggle-group [value]="greenAiAlgorithm"
                                                     (change)="greenAiAlgorithm=='MINI-MAX'?greenAiAlgorithm='ALPHA-BETA':greenAiAlgorithm='MINI-MAX'">
                                <mat-button-toggle value="MINI-MAX">
                                    MINI-MAX
                                </mat-button-toggle>
                                <mat-button-toggle value="ALPHA-BETA">
                                    &alpha;-&beta;
                                </mat-button-toggle>
                            </mat-button-toggle-group>
                        </td>
                    </tr>
                    <tr>
                        <th>Red heuristics</th>
                        <td>
                            <mat-button-toggle-group [value]="redHeuristics"
                                                     (change)="redHeuristics=='NAIVE'?redHeuristics='ALMOST-MILL':redHeuristics='NAIVE'">
                                <mat-button-toggle value="NAIVE">
                                    NAIVE
                                </mat-button-toggle>
                                <mat-button-toggle value="ALMOST-MILL">
                                    +/- MILL
                                </mat-button-toggle>
                            </mat-button-toggle-group>
                        </td>
                    </tr>
                    <tr>
                        <th>Green heuristics</th>
                        <td>
                            <mat-button-toggle-group [value]="greenHeuristics"
                                                     (change)="greenHeuristics=='NAIVE'?greenHeuristics='ALMOST-MILL':greenHeuristics='NAIVE'">
                                <mat-button-toggle value="NAIVE">
                                    NAIVE
                                </mat-button-toggle>
                                <mat-button-toggle value="ALMOST-MILL">
                                    +/- MILL
                                </mat-button-toggle>
                            </mat-button-toggle-group>
                        </td>
                    </tr>
                </table>
            </mat-menu>
            <button mat-icon-button
                    [disabled]="currentIndex==gameStates.length-1"
                    (click)="redo()">
                <mat-icon>redo</mat-icon>
            </button>
        </div>
    </mat-toolbar>
    <div class="game-wrapper">
        <div class="buttons-wrapper">
            <h1 *ngIf="performTests">Test {{testCounter + 1}} of {{testDefinitions.length}}</h1>
            <h1>
                <span class="header-wrapper">
                    {{gameStates[currentIndex].moveCount + 1}}
                </span>
                <span (click)="toggleTests()"> : </span>
                <span class="header-wrapper player-name">
                    {{gameStates[currentIndex].turn}}
                </span>
            </h1>
            <h1>
                <span class="header-wrapper">{{gameStates[currentIndex].moveType}} </span>
                <span *ngIf="getCurrentPlayerType(gameStates[currentIndex]) == 'COMPUTER'">
                    <mat-spinner [diameter]="32"></mat-spinner>
                </span>
            </h1>
        </div>
        <mat-card class="canvas-wrapper" id="canvas-wrapper">
            <canvas id="canvas"></canvas>
        </mat-card>
        <mat-grid-list cols="2" rowHeight="100" style="display:none">
            <mat-grid-tile>
                <mat-card class="canvas-wrapper">
                    <canvas id="red-drawer"></canvas>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile style="max-height:100px;">
                <mat-card class="canvas-wrapper">
                    <canvas id="green-drawer"></canvas>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div>
        <mat-card class="score-board">
            <table>
                <tr class="header-row">
                    <th></th>
                    <th>{{gameStates[currentIndex].redPlayerState.color}}</th>
                    <th>{{gameStates[currentIndex].greenPlayerState.color}}</th>
                </tr>
                <tr>
                    <th>Points:</th>
                    <td>{{gameStates[currentIndex].redPlayerState.points}}</td>
                    <td>{{gameStates[currentIndex].greenPlayerState.points}}</td>
                </tr>
                <tr>
                    <th>Pieces in drawer:</th>
                    <td>{{gameStates[currentIndex].redPlayerState.piecesInDrawer}}</td>
                    <td>{{gameStates[currentIndex].greenPlayerState.piecesInDrawer}}</td>
                </tr>
                <tr>
                    <th>Pieces on board:</th>
                    <td>{{gameStates[currentIndex].redPlayerState.piecesOnBoard}}</td>
                    <td>{{gameStates[currentIndex].greenPlayerState.piecesOnBoard}}</td>
                </tr>
            </table>
        </mat-card>
        <mat-expansion-panel class="score-board" *ngIf="gameStates[currentIndex].moves.length != 0">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Moves
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item
                        *ngFor="let move of gameStates[currentIndex].moves">{{move.count}} {{move.color}} {{move.moveType}} {{move.moveDescription}}</mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </div>
</div>
