mat-card {
    margin: 1rem;
}

.score-board {
    width: 300px;
}

.canvas-wrapper {
    margin: 2rem auto;
    max-width: 500px;
}

.game-wrapper {
    margin: auto;
    max-width: 600px;
}

canvas {
    margin: auto;
    display: block;
}

h1 {
    position: center;
    text-align: center;
}
