mat-card {
    margin: 1rem;
}

.score-board {
    width: 300px;
    margin: 2rem auto;
}

.canvas-wrapper {
    margin: 2rem auto;
    max-width: 400px;
}

#game-wrapper {
    margin: auto;
    max-width: 450px;
}

canvas {
    margin: auto;
    display: block;
    -webkit-tap-highlight-color: transparent;
}

h1 {
    margin: auto;
    position: center;
    text-align: center;
    max-width: 80%;
}

td {
    min-width: 75px;
    text-align: center;
}

th {
    text-align: left;
}

.header-row > th {
    text-align: center;
}

/*.header-wrapper {*/
/*min-width: 100px;*/
/*text-align: center;*/
/*display: inline-block;*/
/*}*/

mat-button-toggle, .table-button {
    width: 100px;
}

mat-spinner {
    display: inline-block;
}

/*.center {*/
/*margin: auto;*/
/*display: block;*/
/*}*/
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.player-name {
    width: 100px;
    display: inline-block;
}

.icon-button {
    padding: 0;
    width: 2rem;
}
