/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #f4f4f4;
    overscroll-behavior: contain;
    display:flex;
    flex-direction:column;
}


footer {
    text-align: center;
    margin: auto auto 0;
    padding: 1rem;
}
